@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron homeBanner">
    <h1>Moriah University</h1>
    <img class="bannerImg" src="~/images/college.webp" alt="Red College Building" />
</section>

<section>
    <h2>Moriah University Enrollment</h2>
    <p>Welcome to Moriah University! We're located north of Las Vegas in Nevada and are eager to help you get enrolled
        in one of our fantastic programs. In order to help speed the process, Moriah University has created this enrollment
        tool to help new and prospective students get signed up with the professors and courses they want!
    </p>
</section>

<section>
    <h2>How This Tool Works</h2>
    <p>Please navigate this website using the navigation bar at the top of the page to your desired enrollment tool.
        New students enrolling into Moriah University should visit the "Students" page and complete your enrollment there.
        Students may also see other students who have enrolled at this University on that same page. Administrators or teachers
        should visit the "Courses", "Instructors", or "Departments" pages if they want to add courses, edit existing courses, add new
        instructors, or even edit or add new departments. For additional help, please visit the "About" page for more information
        on how to contact us.
    </p>
</section>